.prof-pic{
  height: 200px;
  width: 200px;
  background: #baddad;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.prof{
  width: 20%;
  min-width: 300px;
  display: inline-block;
}
