
#about-page{
  background-color: #370408;

}

#about{
  margin-top: 10px;
}

#home-btn{
float: right;
margin-top: -100px;
}

.name{
  color: #370408;
  font-weight: bolder;
  font-family: 'Revalia', cursive;
}

.prof-pic{
  height: 200px;
  width: 200px;
  background: #baddad;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin: auto;
}

.prof{
  width: 24.5%;
  height: 400px;
  min-width: 300px;
  margin: 5px 0 0 5px;
  display: inline-block;
  /*position: absolute;*/
  float: left;
  text-align: center;
  z-index: 99;
}

.prof:hover{
  transform:scale(1.2);
  transition-duration: 1s;
  z-index: 9;
}

.about-us{
  color: #000;
  background-color: #dc7600;
  border-radius: 10px;
  padding: 5px;
}
