h1{
  font-family: 'Revalia', cursive;
  font-size:4em;
  color: #424E60;
  text-align: center;
}

#filters {
  display: flex;
}

a.button {
  background-color: #bbb;
  padding: 10px;
  margin: 10px;
}
#map-filters {
  margin-top: 15%;
}
