body {
  background-color: #370408;
}

h1{
  font-family: 'Revalia', cursive;
  font-size:50px;
  color: #fff;
  text-align: center;
}

#meteor-img{
  width: 100%;
}

#intro{
  color: #fff;
}

#filters {
  display: flex;
}

#map{
  margin: 0 5px;
  padding-bottom: 5px;
}

.map-box {
  width: 100%;
}

a{
  text-decoration: none;
}

.btns {
  text-decoration: none;
  background-color: #cd7600;
  padding: 10px;
  margin: 10px;
  color: #370408;
  border-radius: 5px;
}
.btns:hover{
  transform: scale(1.2);
  transition-duration: .2s;
  background-color: #fff;
  color: #370408;
}

.map-box{
  background-color: #dc7600;
  border-radius: 10px;
}

button{
  text-decoration: none;
  background-color: #370408;
  padding: 10px;
  margin: 10px;
  color: #dc7600;
  font-weight: bolder;
  border-radius: 10px;
}
button:hover{
  background-color: #eee;
  color: #370408;
}

.about-center{
  width:100%;
  margin: 50px auto 20px auto;
  text-align: center;
}


#about-btn{
  margin: auto;
}

footer{
  padding: 10px 0;
  text-align: center;
  clear:both;
}

@media only screen and (min-width: 640px) {
  .map-box {
    margin: 0 auto;
    width: 65%;
  }
  #meteor-div {
    text-align: center;
  }
    #meteor-img {
    margin: 0 auto;
    max-height: 700px;
    max-width: 600px;
  }
}
