#intro {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  }

.chosen {
  margin: 10px;
}

#chart {
  margin-left: 60%;
}
@media only screen and (min-width: 650px) {
  #intro {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
  }

  #filter-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #chart {
    margin-left: 80%;
  }
}
